* {
    color: rgb(195, 195, 195);
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    font-size: calc(15px + 0.390625vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}    

html {
    background: rgb(35, 0, 36);
    text-shadow: 2px 2px 5px black;
    scrollbar-color: rgba(78,110,57,1) rgba(35,0,36,1) 100%; /* Gecko */
    scrollbar-width: thin; /* Gecko */
}

html::-webkit-scrollbar { /* Chromium */
    width: 10px;
}

html::-webkit-scrollbar-track { /* Chromium */
    background: rgba(35,0,36,1);
    box-shadow: inset 1px 1px 5px black ;
}

html::-webkit-scrollbar-thumb { /* Chromium */
    background: linear-gradient(0deg, rgba(78,110,57,1), rgb(41, 58, 30));
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover { /* Chromium */
    background: linear-gradient(0deg, rgba(78,110,57,1), rgb(41, 58, 30));
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active { /* Chromium */
    background: linear-gradient(0deg, rgba(78,110,57,1), rgb(41, 58, 30));
    border-radius: 10px;
}

section {
    height: 100vh;
    background: radial-gradient(circle, rgba(78,110,57,1) 0%, rgba(35,0,36,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3;
    scroll-snap-align: start;
    overflow: auto;
}

p {
    font-size: calc(12px + 0.390625vw);
}

h2 {
    color: rgb(0, 127, 99);
    font-family: 'Arabolical', fantasy;
    font-size: calc(76px + 0.390625vw);
    overflow: hidden;
}

a {
    color: rgb(0, 127, 99);
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

.page {
    width: 80%;
}

.icon {
    width: 128px;
    height: 128px;
    max-width: 128px;
    max-height: 128px;
}

@font-face {
    font-family: 'Arabolical';
    src: url('font/Arabolical.ttf');
    font-style: normal;
}

@media only screen and (max-width: 920px) {
    h2 {
        color: rgb(0, 127, 99);
        font-family: 'Arabolical', fantasy;
        font-size: calc(76px + 0.390625vw);
        overflow: hidden;
    }

    h3 {
        color: rgb(0, 127, 99);
        font-family: 'Arabolical', fantasy;
        font-size: calc(40px + 0.390625vw);
        overflow: hidden;
    }

    p {
        font-size: calc(11px + 0.390625vw);
    }

    * {
        font-size: calc(12px + 0.390625vw);
    }
}

a:hover {
    color: rgb(43, 154, 164);
    cursor: pointer;
}
